@import url(./reset.css);

a {
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}

h4 {
    text-align: center;
    font-size: 2rem;
    margin: 2.5rem 0 1.6rem 0;
}

.container-init {
    background-color: #000;
    height: fit-content;
}

.container-battle {
    display: flex;
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 100%;
}

.img-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#castle-img,
#swamp-img,
#cave-img {
    margin: 2rem;
    width: 625px;
    height: 339px;
    border-radius: 10px;
}

.story-text {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    color: #fff;
}

#init {
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 80px;
    padding: 0.5rem;
    font-size: 1.6rem;
    transition: 0.2s;
}

#init:hover {
    background-color: #ff0000;
    color: #fff;
    transition: 0.2s;
    transform: scale(1.1);
}

.background {
    position: absolute;
    z-index: -1;
    left: -106px;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.battle-panel {
    width: 75%;
    height: 100vh;
    border-right: 7px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.encounter {
    width: 80%;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.battlers {
    /* border: 2px solid red; */
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    /* position: relative; */
}

.player, .monster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    gap: 0.5rem;
}

.img-battler-player {
    width: 150px;
    height: 200px;
    border: 5px solid #112d7a;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    background-color: rgba(0, 0, 144, 0.25);
}

.img-battler-monster-orc {
    width: 150px;
    height: 200px;
    border: 5px solid #820101;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    background-color: rgba(144, 0, 0, 0.45);
}

.img-battler-monster-swamp {
    width: 250px;
    height: 200px;
    border: 5px solid #820101;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    background-color: rgba(144, 0, 0, 0.45);
}

.img-battler-monster-golem {
    width: 180px;
    height: 200px;
    border: 5px solid #820101;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    background-color: rgba(144, 0, 0, 0.45);
}

.status {
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 5px 5px 5px #000;
}

.status.damaged {
    width: 150px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    transform: scale(1.06);
    transition: 0.3s;
    box-shadow: 5px 5px 5px #000;
}

.status.healed {
    width: 150px;
    height: 50px;
    background-color: rgba(0, 255, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    transform: scale(1.06);
    transition: 0.3s;
}

.img-versus {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#versus {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.information {
    width: 80%;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
    overflow-y: scroll;
}

#player-number,
#monster-number,
#damage {
    text-align: center;
}

.status-panel {
    width: 25%;
    height: 100%;
    background-color: #000;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.backpack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}

.survival-itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    min-height: 80%;
    background-color: #ff9a02;
    border-radius: 15px;
    box-shadow: inset 5px 6px 3px #c97901;
    border: 3px solid #fff;
    padding: 1rem;
}

#sort-number {
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 80px;
    padding: 0.5rem;
    font-size: 1.6rem;
    transition: 0.2s;
}

#sort-number:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
}

#sort-number:disabled {
    cursor: not-allowed;
    background-color: #2e2e2e;
    color: #4b4b4b;
}

#next-battle {
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 80px;
    padding: 0.5rem;
    font-size: 1.6rem;
    transition: 0.2s;
    display: none;
}

#next-battle:hover {
    transition: 0.2s;
    transform: scale(1.1);
    background-color: #ff9500;
    color: #fff;
    cursor: pointer;
}

.item-slot0,
.item-slot1,
.item-slot2,
.item-slot3,
.item-slot4 {
    border: 2px solid #000;
    border-radius: 10px;
    background: linear-gradient(
        325deg, #fff 0%, #dadada 30%, #afafaf 70%, #8d8d8d 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-right: 0.3rem;
    margin-bottom: 0.3rem;
    transition: 0.2s;
}

.item-slot0:hover,
.item-slot1:hover,
.item-slot2:hover,
.item-slot3:hover,
.item-slot4:hover {
    transition: 0.2s;
    transform: scale(1.05);
    cursor: pointer;
    background: linear-gradient(
        325deg, #ffbcbc 0%, #fd9191 30%, #ff5353 70%, #ff3d3d 100%);
}

.item-img {
    width: 50px;
    height: 50px;
}

.item-description {
    font-size: 20px;
}

.game-over {
    z-index: 1;
    position: relative;
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.text-game-over {
    color: #fff;
    font-size: 120px;
}

#restart {
    font-size: 60px;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.2s;
}

#restart:hover {
    background-color: #006400;
    color: #fff;
    transform: scale(1.1);
}